name: Docker Image CI

on:
  push:
    branches: [ "deploy" ]
  pull_request:
    branches: [ "deploy" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: get docker image name
      run: docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_PASS }}
    - name: Build the roadmap Docker image
      run: cd site/roadmap.coding3min.com && docker build . --file Dockerfile --tag minibear2333/roadmap:deploy
    - name: push docker image
      run: docker push minibear2333/roadmap:deploy